@import "tailwindcss";
@font-face { font-family: "Metropolis"; src: url("/fonts/Metropolis-Regular.otf");}
@font-face { font-family: "Metropolis Bold"; src: url("/fonts/Metropolis-Bold.otf");}
@font-face { font-family: "Metropolis BL"; src: url("/fonts/Metropolis-Black.otf");}

:root {
  --background: #14b8a6;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-metropolis: Metropolis;
  --font-metropolis-bold: "Metropolis Bold";
  --font-metropolis-black: "Metropolis BL";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}